@model WebProject.Models.Product

@{
    ViewData["Title"] = Model.ProductName;
    var price = 0;
}

<div class="container">
<div class="row">
    <div class="col-3">
        <div id="ProductTypeList">
            @* //2.3.10 編寫Display View，加入VCReBooks ViewComponent *@
            @await Component.InvokeAsync("VCProductType", new { })
        </div>
    </div>
    <div class="col-5">
        @{
            var path = "/ModelPhoto/" + Model.Photo;
        }
        <img src=@path alt="@Model.ProductName" class="card-img-top border border-bottom " style="max-height:280px width:auto" />
    </div>
    <div class="col-4">
        <h4></h4>

        <h2>@Model.ProductName</h2>
        <h3>@Model.Description</h3>
            @{
                var value = Model.CostJP * Model.PriceExchangeRage;
                price = (int)(value);
            }
        <br />
        <h4>售價 @price 元</h4>
        <p>
            數量：
            <select name="value" id="value" style="width:100px">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="8">9</option>
            </select>
        </p>
            <button class="btn btn-info" id="order" name=" = order">我要買買買</button>
        
        @* <p>@Model.ProductName</p> *@
        
    </div>
</div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
