@model WebProject.Models.StaffAcc

<h4>建立員工帳號</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAcc">
            <h1 class="text-danger">@ViewBag.ErrMsg</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mima" class="control-label"></label>
                <input asp-for="Mima" class="form-control" />
                <span asp-validation-for="Mima" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="StaffID" class="control-label"></label>
                <input asp-for="StaffID" value="@ViewBag.StaffID" readonly />
                <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
