@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h2 class="text-left">帳號專區</h2>
<div>
    <h1></h1>
    <a class="list-group-item text-left fs-4" asp-controller="Members" asp-action="UserDetails">我的帳號</a>
    <h5></h5>
    <a class="list-group-item text-left fs-4" asp-controller="Orders" asp-action="Index" asp-route-tag="1">已下訂的訂單</a>
    <h5></h5>
    <a class="list-group-item text-left fs-4" asp-controller="Orders" asp-action="Index" asp-route-tag="2">取消的訂單</a>
    <h5></h5>
    <a class="list-group-item text-left fs-4" asp-controller="Orders" asp-action="Index" asp-route-tag="3">完成的訂單</a>
    <h5></h5>
</div>